@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


.App {
    padding-left: 40px;
    padding-right: 40px;
}

.header-content {
    font-size: 34px;
    font-weight: 500;
}

.body-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-link {
    font-size: 32px;
}

.padding {
    padding: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.font {
    font-family: 'Nunito', 'Inter';
}

.mover {
    display: inline-block;
    animation: rotation 1s infinite;
    padding: 20px;
}

@keyframes rotation {
    0% {
        transform: rotate(30deg);
        transform-origin: bottom right;
    }

    50% {
        transform: rotate(-15deg);
        transform-origin: bottom right;
    }

    100% {
        transform: rotate(30deg);
        transform-origin: bottom right;
    }
}

a {
    text-decoration: none;
    color: #007bff;
}

a:visited {
    text-decoration: none;
    color: #007bff;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
    .padding {
        padding-left: 2%;
        padding-right: 2%;
    }
}
